/**
 * id          : 20140302°0611
 * summary     : This is an extract from file 20080710°2301
 *                http://downtown.trilo.de/svn/daftaridev/trunk/daftari/css/daftari.css
 * license     : MIT/X11 License
 * copyright   : Norbert C. Maier https://github.com/normai/canvasgear/
 * encoding : UTF-8-with-BOM
 * note : The following workarounds are applied:
 *    (1) 'text-align:center' in the body makes tables center work in IE This must be
 *        counteracted by 'text-align:left;' in p/li/.. tags then (workaround 20090208°2301)
 *    (2) Make tables centered in Firefox and Opera with 'margin-left:auto; margin-right:auto;'
 *        (workaround 20110323°2141)
 *    (3) IE does not understand max-width, so as a compromise we give it a width
 *        The matter seems no really fixed, just mitigated. (workaround 20100822°1323)
 *    (4) workaround 20140128°1331 'fix too small monospace size'.
 *        See ref 20140128°1332 'Stephen Morley: Fixing monospace font'
 *        The fix is to use 'font-family:monospace,monospace; font-size:1em;'
 * note : <!-- If doctype is missing, IE will not recognize the css hoover selector [note 20130725°1311] -->
 * todo : Check this with http://csslint.net (it has e.g. 118 warnings 20120929°1222)
 * note :
 */

/* basic body [rule 20080710°2311] */
body {
       background-color:#fafafa;
       font-family:arial,helvetica,sans-serif;
       text-align:center;                                                      /* make tables center work in IE (workaround 20090208°2301) */
}

/**
 * rule 20160617°0211 Default chapter pane
 * note : IE does not understand max-width, so as a compromise, apply
 *    the elements a width as well (after workaround 20100822°1323).
 */
div.ChapterFaceNormal { margin:0 auto; max-width:780px; width:84%;
                       background-color:#fcfcfc; padding:0.3em 0.9em 0.3em 0.9em;
                        margin-top:0.9em; margin-bottom:1.1em;
                         }

/*  (seq 20140302°0621 for workaround 20090208°2301) counteract 'text-align:center' for IE in body */
li { text-align:left; }                                                        /* (rule 20140302°0622) */
p { text-align:left; }                                                         /* (rule 20140302°0623) */
td { text-align:left; }                                                        /* (rule 20140302°0624) */

/* (ruleset 20100826°2131) */
ol { text-indent:0.0em; text-align:left; }                                     /* (rule 20100826°2131) */
ul { text-indent:0.0em; text-align:left; }                                     /* (rule 20100826°2132) */
li { margin-top:0.4em; margin-bottom:0.4em; }                                  /* (rule 20100826°2133) */

/* (seq 20140302°0631 for workaround 20140128°1331 'monospace size' */
pre { font-family:monospace,monospace; font-size:1.00em; text-align:left; padding:0.5em; } /* (rule 20090208°0511) */
tt { font-family:monospace,monospace; font-size:1em; }                         /* (rule 20140131°0911) */

/* (rule 20080711.0522) */
p.topTitleCrumbs { color:#0000f0; font-size:130%; margin-bottom:-0.7em; margin-top:0.2em; text-align:center; }

/* header cascade */
h1 { text-align:center; color:#0000f0; font-size:220%; }                       /* (rule 20080711°0511) */
h2 { text-align:center; color:#3000c0; font-size:180%; }                       /* (rule 20080711°0512) */
h3 { text-align:center; color:#600090; font-size:150%; }                       /* (rule 20080711°0513) */
h4 { text-align:center; color:#900060; font-size:130%; }                       /* (rule 20080711°0514) */

p.imageCenter  { text-align:center; color:green; }                              /* (rule 20100826°2111) */

/* footer paragraphs */
p.goodbye      { font-family:Comic Sans MS,Arial; margin-bottom:1.5em; margin-top:1.5em; } /* (rule 20080710°2314) */
p.imprint      { color:#505050; font-size:0.77em; margin-bottom:0.1em; margin-right:1.1em; margin-top:2.4em; text-align:right; } /* (rule 20080710°2313) */
p.footer       { border-top:1px solid; color:#808080; font-size:0.77em; margin-bottom:1.6em; margin-top:0.1%; } /* (rule 20080710°2312) */


/* note : 'text-align:left' counteracts 'text-align:center' for IE in body (workaround 20090208°2301) */
/* pre.codeNormal { font-family:monospace,monospace; font-size:1.00em; text-align:left; padding:0.5em; background:#fff0f0; } */ /* (rule 20090208°0512) - #ffe8ff; */
/* pre.codeSmall  { font-family:monospace,monospace; font-size:0.85em; text-align:left; padding:0.5em; background:#fff0f0; } */ /* (rule 20090208°0513) - #ffe8ff; */

/* note : Padding is not 0.1em but 0.09em, otherwise e.g. an underline in the line above will be covered means invisible [note 20140209°0551] */
.codeNormal { font-family:monospace,monospace; font-size:1.01em; padding:0.09em; background:MistyRose; } /* [rule 20140128°1331] */
.codeSmall  { font-family:monospace,monospace; font-size:small; padding:0.09em; background:MistyRose; } /* [rule 20140128°1332] */
.codeTiny  { font-family:monospace,monospace; font-size:x-small; padding:0.09em; background:MistyRose; }

/*
 * rule 20140217°0611
 *  This replaces the obsolete 'tt' tag.
 *  Remember workaround 20140128°1331 'Monospace size'
 */
.fontTypewrite {
   font-family:monospace,monospace; font-size:1.1em; padding-left:0.3em; padding-right:0.3em;
}


/* ------------------- Link appearances -------------------- */

/* title : 'link-with-target-blank' [rule 20120725°1151]
 * see : ref 20120725°1141 'peterkroener → links mit target-blank gesondert markieren'
 * note : This style eliminate the need for class 'extern', the target attribut in the link is sufficient
 */
a[target^="_blank"] {
   padding-left:11px;
   background-image:url(./../img/20091221o152103.extern.png);
   background-position:left center;
   background-repeat:no-repeat;
   color:darkviolet;                                           /* background-color:#ffffa0; */
}

a[target^="_blank"]:hover {                                    /* (rule 20120725°1152) */
   background-color:yellow;                                    /* #ffd0a0 */
}

/* link with icon [rule 20100315°1943] */
a.extern {
   padding-left:12px;
   background-image:url(./../img/20091221o152103.extern.png);
   background-position:left center;
   background-repeat:no-repeat;
}

/* link without icon []rule 20100315°1944] */
a.extern:hover {
   /* text-decoration:underline; */
   background-color:yellow; /* #ffd0d0; */
}

/* eof */
